@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;800;900&display=swap');

.menuGeneral {
   font-family: Nunito;
   background-color: #222327;

   .fixedMenu {
      font-size: larger;
      border-bottom: 2px solid white;

      /* Hiding scrollbars */
      -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
      scrollbar-width: none; /* Hide scrollbar for Firefox */
      &::-webkit-scrollbar {
         display: none; /* Hide scrollbar for Chrome, Safari and Opera */
      }
   }

   .menuContent {
      scroll-behavior: smooth;
      padding-bottom: 20vh;
      height: 80vh;

      /* Hiding scrollbars */
      -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
      scrollbar-width: none; /* Hide scrollbar for Firefox */
      &::-webkit-scrollbar {
         display: none; /* Hide scrollbar for Chrome, Safari and Opera */
      }

      .catContent {
         margin-bottom: 5rem;

         .catTitle {
            color: #29fd53;
         }
      }
   }
}
