@keyframes hide {
   from {
      max-height: 1000px;
   }
   to {
      max-height: 0px;
   }
}

@keyframes show {
   from {
      max-height: 0px;
   }
   to {
      max-height: 1000px;
   }
}

.default {
   overflow: hidden;
}

.hidden {
   animation: hide .3s ease-out;
   max-height: 0px;
}

.shown {
   animation: show .3s ease-out;
   max-height: 1000px;
}
