.outsideLayout {
   background: inherit;

   .insideLayout {
      height: 95vh;

      /* Hiding scrollbars */
      -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
      scrollbar-width: none; /* Hide scrollbar for Firefox */
      &::-webkit-scrollbar {
         display: none; /* Hide scrollbar for Chrome, Safari and Opera */
      }
   }
}
