.allDiv {
   height: 88vh;

   a {
      color: var(--global-anchor-color);
      text-decoration: underline;
   }
}

@media (max-height: 850px) {
   .allDiv {
      height: 85vh;
   }
}

@media (max-height: 660px) {
   .allDiv {
      height: 80vh;
   }
}

.firstDiv {
   height: 75vh;
}

.secondDiv {
   background: rgba(34, 35, 39, 0.6);
   min-height: 100vh;
}

.thirdDiv {
   color: white;
}

.image {
   -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
   );
   mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.yellowTitle {
   color: var(--global-primary-color);
   font-size: 1.5rem;
}

.developers {
   overflow: clip;

   img {
      float: left;
   }
}

.faceImage {
   border-radius: 50%;
   margin-right: 20px;
   width: 100px;
}

.company {
   div {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 10px;
      margin: 20px;

      img,
      span {
         display: flex;
         align-items: center;
         justify-content: center;
      }
   }
}
