$neonPurple: #b026ff;
$neonOrange: #ff6700;
$neonGreen: #39ff14;
$neonBlue: #4d4dff;
$neonRed: #ff3131;

.anchorItem {

   .menuItem {
      background: #444549;
      padding: 1rem 1.3rem;
      min-height: 9.375rem;

      .itemTitle {
         color: white;
      }

      .neonPrice {
         color: $neonGreen;
      }
   }
}