$neonPurple: #b026ff;
$neonOrange: #ff6700;
$neonGreen: #39ff14;
$neonBlue: #4d4dff;
$neonRed: #ff3131;

.lineThrough {
   color: gray;
   text-decoration: line-through;
}
.gray {
   color: gray;
}

.menuItem {
   background: #444549;
   padding: 1rem 1.3rem;
   min-height: 9.375rem;

   .itemTitle {
      color: white;

      .hidden {
         visibility: hidden;
      }
      .weekDays {
         font-size: 15px;
         font-weight: 500;
      }
   }

   .neonPrice {
      color: #dc9c36;
   }
}
