$neonPurple: #b026ff;
$neonOrange: #ff6700;
$neonGreen: #39ff14;
$neonBlue: #4d4dff;
$neonRed: #ff3131;

.menuItems {
   border-top: 1px solid white;
   min-height: 120px;

   .neonPrice {
      color: $neonGreen;
   }
}
