.checkBoxDiv {
   top: 37.5%;

   input[type='checkbox'] {
      -webkit-appearance: none;
      background: lightgrey;
      border-radius: 1.25rem;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
      left: 70%;
      width: 1.33rem;
      height: 0.6rem;
      transform: scale(2.5);
      transition: 0.3s;
   }
   input:checked[type='checkbox'] {
      background: var(--global-anchor-color);
   }
   input[type='checkbox']::before {
      content: '';
      position: absolute;
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
      top: 0;
      left: 0;
      background: white;
      box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.2);
      transform: scale(1.1);
      transition: 0.3s;
   }
   input:checked[type='checkbox']::before {
      left: 0.8rem;
   }
}
